/* VARIABLES */
:root {
  --hero-padding-left: 3rem;
  --hero-div-margin: 6rem;
  --spacing-in-hero-div: 1rem;
}

.hero_container {
  flex: 1;
}

.hero {
  display: block;
  min-height: 26.5625rem;
  font-size: 18px;
  padding-left: var(--hero-padding-left);
  padding-right: var(--hero-padding-left);
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
  flex: inherit;
}

.macro_block {
  margin-bottom: var(--hero-div-margin);
}

.macro_block > * {
  display: block;
  margin: var(--spacing-in-hero-div);
}

.hero_title {
  font-weight: bold;
  text-transform: uppercase;
}

.description {
  font-weight: normal;
  text-justify: auto;
  line-height: 1.8;
}

.quote {
  padding: 2.5rem;
  display: block;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

.macro_block ul {
  padding-left: 2rem;
  margin: inherit;
}

.macro_block ul li {
  padding: 0.625rem;
  list-style-type: disc;
  animation-duration: 0.2s;
  animation-name: slide_back;
}

.macro_block ul li:hover {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: slide_away;
}
