/* VARIABLES */
:root {
  --left_bar_size: 12rem;
  --nav-icon-width: 3.125rem;
}

.nav {
  width: var(--left_bar_size);
  height: 100%;
  position: relative;
  background-color: #336699;
  transition: width 0.2s;
  flex-shrink: 0;
}

.nav--collapsed {
  width: var(--nav-icon-width);
}

.nav__link {
  display: flex;
  align-items: center;
}

.nav a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.nav a:hover {
  color: lightslategray;
  transition: 0.3s;
}
