/* VARIABLES */
:root {
  --smartphone_outer_div_margin: 5rem;
}

@media screen and (max-width: 480px) {
  .left_bar_wrapper {
    display: none;
  }
  .hero_wrapper {
    text-align: center;
    padding-left: 0;
  }
  .hero {
    width: 100%;
    padding-left: 0;
  }
  .macro_block :last-child {
    margin-bottom: var(--smartphone_outer_div_margin);
  }
  .macro_block ul {
    padding: 0px;
    text-align: center;
  }
  .macro_block ul li {
    animation: none !important;
    list-style-type: none;
  }
  footer .inner_footer .fa {
    font-size: 2rem;
  }
  footer .inner_footer .fa:not(:last-child) {
    letter-spacing: 2rem;
  }
  footer .inner_footer .contatti {
    font-size: 0.75rem;
    letter-spacing: 4px;
  }
}
