@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;700&display=swap");
@import "animations.css";
@import "header.css";
@import "footer.css";
@import "hero.css";
@import "left_bar.css";
@import "media_queries.css";

/* VARIABLES */
:root {
  --default_border_radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  cursor: default;
}

body {
  background-repeat: no-repeat;
  display: block;
}

.mainframe_container {
  padding-top: var(--header_height);
  /*height: 1000px;*/
  width: 100%;
  background-color: white;
  display: table;
}
